<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/sites.css" />
    <title>Décantez-vous</title>
  </head>
  <body>
    <nav>

      <form method="post">
        <div >
          <select class="btnNav" id="btnSitesNav" name="selectWorkplace">
            <option value="Paris">Paris</option>
            <option value="Nantes">Nantes</option>
            <option value="Marseille">Marseille</option>
            <option value="Lille">Lille</option>
            <option value="Bordeaux">Bordeaux</option>
            <option value="Strasbourg">Strasbourg</option>
            <option value="Lyon">Lyon</option>
          </select>

          <button  name="selectWorkplace" type="submit">changer de site</button>
        </div>
      </form>
      <!-- <form method="POST">
            <select class="btnNav" id="btnSitesNav">
              <option value="Paris">Paris</option>
              <option value="Lyon">Site 2</option>
              <option value="Site3">Site 3</option>
              <option value="Site1">Site 4</option>
              <option value="Site2">Site 5</option>
              <option value="Site3">Site 6</option>
            </select>
            <input type="submit" name="selectWorkplace"/>
          <input type="hidden" value="selectWorkplace" />
      </form> -->

      <img class="logo" src="../img/logo2.png" alt="" />
      <a class="btnNav" href="">Producteurs</a>
    </nav>
    <main>
      <section class="store">
        <section class="cardImgStore">
          <img class="imgExt" src="../img/logo.png" alt="" />
          <section class="imgInterior">
            <img class="imgInt" src="../img/logo2.png" alt="" />
            <img class="imgInt" src="../img/logo2.png" alt="" />
          </section>
        </section>
        <section class="cardOfstore">
          <h2>Magasin 1</h2>
          <p>Adresse : 1 rue de la paix</p>
          <p>Code postal : 75000</p>
          <p>Ville : Paris</p>
          <p>Horaires : 9h-18h</p>
          <p>Numéro de téléphone : 01 23 45 67 89</p>
          <p>Adresse mail :</p>
        </section>
      </section>

      {{ range $index, $instance := .Employee }}
      <section class="employee">
        <section class="cardOfEmployee">
          <img class="imgOfEmployee" src="../img/logo2.png" alt="" />
          <h1>{{$instance.Job}}</h1>
          <h2>{{ $instance.LastName }} {{ $instance.FirstName }}</h2>
          <p>Numéro de téléphone : {{ $instance.Phone }}</p>
          <p>Adresse mail : {{ $instance.Mail }}</p>
          <p>Anniversaire: {{ $instance.BirthDate }}</p>
          <p>Date d'embauche: {{ $instance.HireDate }}</p>
          {{ if $instance.IsPays}}
            <p>{{$instance.IBAN }}</p>
          {{end}}
        </section>
        {{ end }}
      </section>
    </main>
    <footer>
      <h3>@Décantez-vous</h3>
    </footer>
  </body>
</html>
