<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/sites.css" />
    <title>Décantez-vous</title>
  </head>
  <body>
    <nav>
      <div class="btnNav">
        <select class="btnSelect" id="btnSitesNav" onchange="changerPage(this)">
          <option disabled selected>Sites</option>
          <option value="http://localhost:8080/Sites/Paris">Paris</option>
          <option value="http://localhost:8080/Sites/Nantes">Nantes</option>
          <option value="http://localhost:8080/Sites/Marseille">
            Marseille
          </option>
          <option value="http://localhost:8080/Sites/Lille">Lille</option>
          <option value="http://localhost:8080/Sites/Bordeaux">Bordeaux</option>
          <option value="http://localhost:8080/Sites/Strasbourg">
            Strasbourg
          </option>
          <option value="http://localhost:8080/Sites/Lyon">Lyon</option>
        </select>
      </div>
      <img class="logo" src="../img/logo2.png" alt="" />
      <a class="btnNav" href="/Supplier">Producteurs</a>
    </nav>
    <form method="post" >
      <button name="work" type="submit" value="work">    
          Travailler / Quitter le travail
      </button>
      <button name="disconnect" type="submit" value="disconnect">    
        Déconnecter
    </button>
  </form>
    <main>
      <section class="supplier">
        <form method="post">
          
          <div >Prénom</div>            
          <input type="text" name="firstName" id="firstName" required/>
                  
          <div >Nom</div>            
          <input type="text" name="lastName" id="lastName" required />

          <div >numéro de téléphone</div>            
          <input type="text" name="phone" id="phone" required />

          <div >mail</div>            
          <input type="mail" name="mail" id="mail" required />

          <div >mot de passe</div>            
          <input type="text" name="password" id="password" required />

          <div >IBAN</div>            
          <input type="text" name="IBAN" id="IBAN" required />

          <div >Date de naissance (type 2004-11-24)</div>            
          <input type="text" name="birthDate" id="birthDate" required />

          <div >Métier</div>
          <select name="profession" id="profession">
            <option value="1">Directeur</option>
            <option value="2">RH</option>
            <option value="3">Marcket Com</option>
            <option value="4">Commercial</option>
            <option value="5">Gérant de site</option>
            <option value="6">Chef d'équipe</option>
            <option value="7">Vendeur</option>
          </select>
          <input type="submit" value="créer"  />
        </form>
      <section class="store">
        <section class="cardImgStore">
          <img class="imgExt" src="../img/Décantez-vous-store.png" alt="" />
          <img class="imgInt" src="../img/Décantez-vous-inté.png" alt="" />
        </section>
        {{ range $index, $instance := .Workplace }}
        <section class="cardOfstore">
          <h2>Décantez-vous {{ $instance.Name }}</h2>
          <h3 class="type">{{ $instance.Type }}</h3>
          <p>Adresse : {{ $instance.Adress }}</p>
          <p>Ville : {{ $instance.Name }}</p>
          <p>Horaires : 9h-18h</p>
          <p>Numéro de téléphone : {{ $instance.Phone }}</p>
          <p>Adresse mail : {{ $instance.Mail }}</p>
        </section>
        {{ end }}
      </section>

      <section class="employee">
        {{ range $index, $instance := .Employee }}
        <section class="cardOfEmployee">
          <img class="imgOfEmployee" src="../img/logo2.png" alt="" />
          <h2>{{ $instance.LastName }} {{ $instance.FirstName }}</h2>
          <h3 class="type">{{$instance.Job}}</h3>
          {{ if .IsPays}}
              {{ if .IsWorking}}
                <p>travaille</p>
              {{ else }}
                <p>ne travaille pas</p>
              {{end}}
            </p>
          {{end}}
          <p>Numéro de téléphone : {{ $instance.Phone }}</p>
          <p>Adresse mail : {{ $instance.Mail }}</p>
          <p>Date de naissance : {{ $instance.BirthDate }}</p>
          <p>Date d'embauche : {{ $instance.HireDate }}</p>
          {{ if $instance.IsPays}}
          <p>IBAN : {{$instance.IBAN }}</p>
          {{end}}
          {{ if .IsPays}}
              <form method="post" >
                  <button class="btnDel" name="deleteEmployee" type="submit" value="{{ $instance.IdEmployee }}">    
                      supprimer
                  </button>
              </form>
            {{end}}
        </section>
        {{ end }}
      </section>
    </main>
    <footer>
      <h3>@Décantez-vous</h3>
    </footer>
    <script>
      function changerPage(selectElement) {
        var selectedValue = selectElement.value;
        if (selectedValue) {
          window.location = selectedValue;
        }
      }
    </script>
  </body>
</html>
