<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/sites.css" />
    <title>Décantez-vous</title>
  </head>
  <body>
    <nav>
      <form method="post">
        <div class="btnNav">
          <select class="btnSelect" id="btnSitesNav" name="selectWorkplace">
            <option disabled selected>Sites</option>
            <option value="Paris">Paris</option>
            <option value="Nantes">Nantes</option>
            <option value="Marseille">Marseille</option>
            <option value="Lille">Lille</option>
            <option value="Bordeaux">Bordeaux</option>
            <option value="Strasbourg">Strasbourg</option>
            <option value="Lyon">Lyon</option>
          </select>

          <button class="btnConfirm" name="selectWorkplace" type="submit">
            <!-- <i class="bx bx-check-square"></i> -->
            V
          </button>
        </div>
      </form>

      <img class="logo" src="../img/logo2.png" alt="" />
      <a class="btnNav" href="">Producteurs</a>
    </nav>
    <main>
      <section class="store">
        <section class="cardImgStore">
          <img class="imgExt" src="../img/Décantez-vous-store.png" alt="" />
          <img class="imgInt" src="../img/Décantez-vous-inté.png" alt="" />
        </section>
        {{ range $index, $instance := .Workplace }}
        <section class="cardOfstore">
          <h2>Décantez-vous {{ $instance.Name }}</h2>
          <h3>{{ $instance.Type }}</h3>
          <p>Adresse : {{ $instance.Adress }}</p>
          <p>Ville : {{ $instance.Name }}</p>
          <p>Horaires : 9h-18h</p>
          <p>Numéro de téléphone : {{ $instance.Phone }}</p>
          <p>Adresse mail : {{ $instance.Mail }}</p>
        </section>
        {{ end }}
      </section>

      <section class="employee">
        {{ range $index, $instance := .Employee }}
        <section class="cardOfEmployee">
          <img class="imgOfEmployee" src="../img/logo2.png" alt="" />
          <h2>{{ $instance.LastName }} {{ $instance.FirstName }}</h2>
          <h3>{{$instance.Job}}</h3>
          <p>Numéro de téléphone : {{ $instance.Phone }}</p>
          <p>Adresse mail : {{ $instance.Mail }}</p>
          <p>Date de naissance : {{ $instance.BirthDate }}</p>
          <p>Date d'embauche : {{ $instance.HireDate }}</p>
          {{ if $instance.IsPays}}
          <p>IBAN : {{$instance.IBAN }}</p>
          {{end}}
        </section>
        {{ end }}
      </section>
    </main>
    <footer>
      <h3>@Décantez-vous</h3>
    </footer>
  </body>
</html>
