<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/supplier.css" />
    <title>Décantez-vous</title>
  </head>
  <body>

    <nav>
      <a class="btnNav" href="/Sites/Paris">Sites</a>
      <img class="logo" src="../img/logo2.png" alt="" />
      <a class="btnNav" href="/Supplier">Producteurs</a>
    </nav>

        
    </main>

      <section class="supplier">
        {{ range $index, $instance := .Supplier }}
        <section class="cardOfSupplier">
            <img class="imgOfSupplier" src="../img/logo2.png" alt="" />
            <h2>{{ $instance.LastName }} {{ $instance.FirstName }}</h2>
            <p>Numéro de téléphone : {{ $instance.Phone }}</p>
            <p>Adresse mail : {{ $instance.Mail }}</p>
            <p>Produit : {{ $instance.Product }}</p>
            <p>Adresse : {{ $instance.Adress }}</p>
            <section>
              <p>Livraison(s) : </p>
              {{ range $i, $a := $instance.Workplace }}
              <p>-  {{ . }}</p>
              {{ end }}
            </section>
            {{ if $instance.IsPays}}
              <form method="post" class="btnSupp" >
                  <button class="btnSupp" name="deleteSupplier" type="submit" value="{{ $instance.IdSupplier }}">    
                      supprimer
                  </button>
              </form>
            {{end}}
            
        </section>
        {{ end }}
      </section>

    </main>
    <footer>
      <h3>@Décantez-vous</h3>
    </footer>
  </body>
</html>
