* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #eff9fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ------ Navbar ------ */

nav {
  position: sticky;
  margin-top: 1vw;
  height: 7.813vw;
  width: 97.917vw;
  background-color: #36506c;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 9vw;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #000000;
}

nav .nav {
  height: 7.813vw;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .btnDec {
  width: 3vw;
  margin-right: 2vw;
  background-color: #36506c;
  border: none;
  cursor: pointer;
}

nav .logo {
  height: 6.25vw;
  width: 6.25vw;
  border-radius: 50%;
}

nav .exit {
  height: 1.5vw;
  width: 1.5vw;
  background-color: #36506c;
}

nav .btnNav {
  height: 2.604vw;
  width: 7.813vw;
  background-color: #eff9fd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #36506c;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0px 0px 2px #36506c;
}

nav .btnNav:hover,
nav .btnNav .btnSelect:hover {
  background-color: #36506c;
  color: #eff9fd;
  border: #eff9fd 0.104vw solid;
}

nav .btnNav .btnSelect {
  height: 2.604vw;
  width: 7.813vw;
  background-color: #eff9fd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #36506c;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0px 0px 2px #36506c;
  border: #36506c 0.104vw solid;
}

/* ------ Main ------ */

.store {
  margin-top: 1vw;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8.333vw;
}

.cardImgStore {
  height: 20.833vw;
  width: 50.521vw;
  background-color: #36506c;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3.678vw;
  box-shadow: 0px 0px 2px #000000;
}

.cardImgStore .imgExt,
.cardImgStore .imgInt {
  height: 19.968vw;
  width: 19.968vw;
  border-radius: 5px;
}

.cardOfstore {
  height: 19.792vw;
  width: 22.396vw;
  background-color: #eff9fd;
  color: #36506c;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.521vw;
  border: #36506c 0.521vw solid;
  box-shadow: 0px 0px 2px #000000;
}

.employee {
  margin-top: 2.604vw;
  display: grid;
  gap: 2.604vw;
  grid-template-columns: 1fr 1fr 1fr;
}

.employee .cardOfEmployee,
.btnCreate {
  height: 35vw;
  width: 25vw;
  background-color: #eff9fd;
  color: #36506c;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.521vw;
  border: #36506c 0.521vw solid;
  box-shadow: 0px 0px 2px #000000;
}

.employee .cardOfEmployee .post,
.employee .cardOfEmployee .iban {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2vw;
}

.employee .cardOfEmployee .typePost,
.employee .cardOfEmployee .isWorking {
  color: #dd5751;
}

.employee .cardOfEmployee .btnDel,
.employee .cardOfEmployee .btnChangeWork,
.employee .cardOfEmployee .changeIban {
  height: 1.5vw;
  width: 7vw;
  background-color: #eff9fd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #36506c;
  font-weight: bold;
  font-size: 0.525vw;
  border: #36506c 0.104vw solid;
}

.employee .cardOfEmployee .btnDel:hover,
.employee .cardOfEmployee .btnChangeWork:hover,
.employee .cardOfEmployee .changeIban:hover {
  cursor: pointer;
  background-color: #36506c;
  color: #eff9fd;
  border: #eff9fd 0.104vw solid;
}

.employee .cardOfEmployee:hover,
.btnCreate:hover {
  background-color: #36506c;
  color: #eff9fd;
}

.btnCreate {
  font-size: large;
  cursor: pointer;
}

.btnCreate h2 {
  margin: 1vw;
}

.employee .cardOfEmployee .imgOfEmployee,
.btnCreate img {
  height: 7.813vw;
  width: 7.813vw;
  border-radius: 50%;
  margin: 1.563vw;
}

main .type {
  margin: 1vw;
  color: #dd5751;
}

/* ------ Footer ------ */

footer {
  margin-top: 2.604vw;
  margin-bottom: 1.042vw;
  height: 5.208vw;
  width: 97.917vw;
  background-color: #36506c;
  color: #eff9fd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #000000;
}

/* Pop-up */

.popUpCreate,
.addSite {
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  background-color: #eff9fd;
  border: #36506c 0.5vw solid;
  border-radius: 5px;
  gap: 1.563vh;
  color: #36506c;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addSite {
  display: flex;
  gap: 0.5vh;
}

.popUpCreate .delivery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5vh;
}

.popUpCreate img {
  width: 10vw;
}

.popUpCreate .btn,
.popUpCreate .btnClose {
  height: 1.5vw;
  width: 7vw;
  background-color: #eff9fd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #36506c;
  font-weight: bold;
  font-size: 0.525vw; /* 10px */
  border: #36506c 0.104vw solid;
  box-shadow: 0px 0px 2px #36506c;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  nav,
  footer {
    height: 30vw;
    flex-direction: column;
    gap: 5vw;
    justify-content: center;
    width: 97.917vw;
  }

  nav .btnNav,
  nav .btnNav .btnSelect {
    height: 8vw;
    width: 24vw;
    font-size: 15px;
  }

  nav .exit {
    height: 5vw;
    width: 5vw;
  }

  .employee {
    margin-top: 2.604vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.604vw;
  }

  .employee .cardOfEmployee,
  .cardOfstore {
    padding-top: 5vw;
    gap: 1vw;
    height: 75vw;
    width: 97.917vw;
    font-size: small;
  }

  .cardImgStore {
    display: none;
  }

  .employee .cardOfEmployee .imgOfEmployee,
  .btnCreate h2 {
    display: none;
  }

  .btnCreate {
    height: 19vw;
    width: 24vw;
  }

  .btnCreate img {
    height: 15vw;
    width: 15vw;
  }

  .employee .cardOfEmployee .infos {
    margin: 1vw;
    font-size: small;
    gap: 0.521vw;
  }

  .employee .cardOfEmployee .btnDel,
  .employee .cardOfEmployee .btnChangeWork,
  .employee .cardOfEmployee .changeIban {
    height: 100%;
    width: 100%;
    font-size: small;
    padding: 0.5vw;
  }

  .popUpCreate,
  .addSupp {
    z-index: 1;
  }

  .popUpCreate .btn,
  .popUpCreate .btnClose {
    height: 5vw;
    width: 24vw;
    font-size: small;
    margin-top: 2vw;
  }

  .popUpCreate img {
    display: none;
  }
}
